body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 180px;
  height: 50px;
  margin: 50px;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: beige;
  font-size: large;
}

.submit {
  width: 80px;
  height: 50px;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  font-size: large;
  background-color: red;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
}

.submit:hover {
  background-color: rgb(160, 20, 20);
}

.submit:active {
  background-color: rgba(146, 29, 29, 0.801);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  --box-color: #c8c8c8;
  color: black;
  width: 70px;
  height: 70px;
  border: 1px solid var(--box-color);
  margin: 1px;
  font-size: 2em;
  background-color: var(--box-color);
  outline: none;
}

.word-row {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.status {
  position: fixed;
  top: 450px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  font-size: large;
}

.answer {
  position: fixed;
  top: 400px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
  font-size: large;
}

.select {
  display: inline;
  padding: 10px 40px 10px 10px;
  position: relative;
  left: 40px;
  top: 30px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}